#*.jks
#*.keystore
*.aab
*.ap_
*.apk
*.class
*.ctxt
*.dex
*.ear
*.iml
*.ipr
*.iws
*.jar
*.log
*.nar
*.rar
*.swp
*.tar.gz
*.war
*.zip
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.classpath
.cproject
.cxx/
.externalNativeBuild
.gradle
.gradle/
.idea/
.idea/.name
.idea/assetWizardSettings.xml
.idea/caches
.idea/caches/
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/jsLibraryMappings.xml
.idea/libraries
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/navEditor.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.mtj.tmp/
.navigation/
.project
.settings/
.signing/
/*/*/build
/*/*/production
/*/build/
/*/local.properties
/*/out
/out/
Thumbs.db
atlassian-ide-plugin.xml
bin/
build/
captures/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
ehthumbs.db
fabric.properties
fastlane/Preview.html
fastlane/readme.md
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
fastlane/README.md
fastlane/.env
freeline.py
freeline/
freeline_project_description.json
gen-external-apklibs
gen/
hs_err_pid*
lint/generated/
lint/intermediates/
lint/outputs/
lint/tmp/
local.properties
obj/
out/
output.json
proguard/
release/
vcs.xml