<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.fightpandemics.login">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_login">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>